// Import app variables
@import '../app-variables';

// Custom styles
.list-group {
    .list-group-item {
        padding: 0 0 8 0;
        background-color: $blue-10;

        .list-group-item-content {
            padding-top: 8;
            padding-left: 15;
            background-color: $background-light;
        }

        .fa {
            color: $accent-dark;
        }
    }
}